body {
    background-image: url('../images/background.png');
}

html, body, .container {
    height:100%;
}

.container {
    display:table;
    width: 100%;
}

.row {
    display: table-row;
    height: 100%;
}

.col-lg-12 {
    display: table-cell;
    width: 100%;
    height: 100%;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.time-select-label, .countdown-label, .countdown {
    color: #ffde00;
}

.time-select-label, .countdown-label {
    font-size: 2em;
}

.time-select-submit {
    padding-top: 12px;
}

.countdown {
    font-size: 8em;
}

.time-select-alert {
    padding-bottom: 10px;
    font-size: 1em;
    color: #ffffff;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}
